<div class="toast custom-toast rounded-0 border-top-0" data-autohide="false" data-animation="true" data-delay="4000">
    <div class="arrow-up"></div>
    <div class="w-100 toast-capper"></div>
    <div class="toast-header">
        <i class="fas fa-shopping-bag mr-auto text-lg"></i>
        <button class="ml-2 mb-1 ms-auto close" type="button" data-bs-dismiss="toast" aria-label="Close">
            <span class="close" aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        <div class="row">
            <div class="col toast-msg text-center">
                <p class="text-uppercase toast-highlighted font-weight-bolder">{{ message }}</p>
            </div>
        </div>
    </div>
</div>