{% load static %}

<footer>
    <div class="container-fluid d-flex justify-content-center">
        <div class="row mt-4">

            <!-- ABOUT LINKS -->
            <div class="col-12 col-sm-4 offset-2">
                <div class="row">
                    <div class="col-12 footer-title">
                        About Us
                    </div>
                    <div class="col-12 footer-text">
                        <a href="#">The Club</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="#">Club FAQs</a> 
                    </div>
                    <div class="col-12 footer-text">
                        <a href="#">Contact Us</a>
                    </div>
                </div>
            </div>

            <!-- SHOP LINKS -->
                <div class="col-12 col-sm-4 offset-2">
                    <div class="row">
                        <div class="col-12 footer-title">
                            Membership
                        </div>
                            <div class="col-12 footer-text">
                                <a href="#">Senior Subs</a>
                            </div>
                            <div class="col-12 footer-text">
                                <a href="#">Junior Subs</a>
                            </div>
                            <div class="col-12 footer-text">
                                <a href="#">Guest Pass</a>
                            </div>
                    </div>
                </div>

           <div class="col-12 text-center mt-5 d-none d-sm-block">
                <a href="mailto:david.shanahan.burns@gmail.com?subject=Saviours%20Enquiry" rel="noopener" aria-label="Saviours Email">
                    <i class=" text-primary fas fa-at"></i>
                </a>
                <a href="https://wa.me/353858667065?text=I'm%20enquiring%20about%20Saviours" target="_blank" rel="noopener" aria-label="Saviours Whatsapp Contact Number">
                    <i class="text-primary fab fa-whatsapp"></i>
                </a>
                <a href="https://www.facebook.com/StSavioursOlympicBoxingAcademy/" target="_blank" rel="noopener" aria-label="Saviours Facebook Page">
                    <i class="text-primary fab fa-facebook"></i>
                </a>
                <div>
                    <i class="far fa-copyright"></i> Saviours Olympic Boxing Club
                </div>
            </div>

            <div class="col-6 offset-2 mt-3 d-sm-none">
                <a href="mailto:david.shanahan.burns@gmail.com?subject=Saviours%20Enquiry" rel="noopener" aria-label="Saviours Email">
                    <i class=" text-primary fas fa-at"></i>
                </a>
                <a href="https://wa.me/353858667065?text=I'm%20enquiring%20about%20Saviours" target="_blank" rel="noopener" aria-label="Saviours Whatsapp Contact Number">
                    <i class="text-primary fab fa-whatsapp"></i>
                </a>
                <a href="https://www.facebook.com/StSavioursOlympicBoxingAcademy/" target="_blank" rel="noopener" aria-label="Saviours Facebook Page">
                    <i class="text-primary fab fa-facebook"></i>
                </a>
                <div class="mt-2">
                    <i class="far fa-copyright"></i> Saviours Olympic Boxing Club
                </div>
            </div>

        </div>
    </div>
</footer>