{% load static %}

<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container-fluid">

        <!-- NAVBAR LOGO -->
        <a id="nav-logo" class="navbar-brand px-1 mr-md-1" href="{% url 'store-home' %}">
            <img src="{% static 'img/logo.webp' %}" alt="St Saviours OBA Logo ">
        </a>

            <!-- centered bag icon in mobile view -->
        <div class="d-lg-none">
            <a class="nav-link position-relative" href="#" title="Shopping Bag">
                <i class="fas fa-shopping-bag d-flex align-items-center justify-content-center"></i>
            </a>
        </div>
        
        <!-- NAVBAR HAMBURGER -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-uppercase" href="#" id="shopDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Shop
                </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="shopDropdown">
                                <a class="dropdown-item text-uppercase" href="#">Shop</a>
                                <div class="dropdown-divider"></div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-uppercase" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        About
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="aboutDropdown">
                        <a class="dropdown-item text-uppercase" href="#">The Club</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-uppercase" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">Account</a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="accountDropdown">
                            <a class="dropdown-item text-uppercase" href="#">My Details</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-uppercase" href="#">Order History</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-uppercase" href="#">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="#">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="#">Login</a>
                    </li>
                {% endif  %}
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-search" title="Search"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="d-none d-lg-inline-block">
            <a href="#" class="nav-link" title="Shopping Bag" aria-label="View Shopping Bag">
                <i class="fas fa-shopping-bag"></i>
            </a>
        </div>
    </div>
</nav>